{{!-- <h1>Animal Type: {{animalType}}</h1>
<h1>Pet: {{pet}}</h1>
<h1>Fierceness: {{fierceness}}</h1> --}}
<h1>Articles</h1>
<div class="alert alert-info" role="alert">
  Still working on this ETA Monday AM
</div>